* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-size: 16px;
    color: #707070;
}

a {
    text-decoration: none;
    color: #707070;
}

a, button {
    cursor: pointer;
}

/* Button Styles */
button:hover {
    /* transform: translateY(-1px); */
    transition: ease-in-out 0.5s;
}

button:active {
    transition: ease-in-out 0.5s;
}

.btn {
    padding: 15px 25px;
    border: none;
    border-radius: 2px;
    font-size: 1rem;
}

.btn--outline {
    border: 1px solid #05A0E9;
    background-color: white;
    color: #05A0E9;
}

.btn--outline:hover {
    background-color: #05A0E9;
    color: white;
}

.btn--outline:active {
    border: 1px solid #05A0E9;
    background-color: white;
    color: #05A0E9;
}

.btn--solid {
    border: 1px solid #05A0E9;
    background-color: #05A0E9;
    color: white;
}

.btn--solid:hover {
    border: 1px solid #0873b6;
    background-color: #0873b6;
}

/* Header Section */
.header {
    display: flex;
    flex-direction: column;
    align-content: space-between;
    min-height: 50vh;
    background-color: #1DA1F2;
    color: white;
    text-align: center;
}

.header__container {
    margin: auto 0;
    align-self: center;
}

.header__container h1 {
    margin: 15px 0;
    font-size: 2.5rem;
}

.header__container p {
    display: block;
    font-size: 1.5rem;
}

.header__container button {
    display: block;
    margin: 45px auto 0 auto;
    padding: 15px 40px;
    border: none;
    font-size: 1rem;
}

.header__container button:hover {
    /* Change padding to adjust for extra border */
    padding: 13px 38px;
    border: 2px solid white;
    background-color: #05A0E9;
    color: white;
}

.header__container button:active {
    background-color: #0873b6;
}

/* Project Section */
.project__container--main {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.project {
    margin: 5px 5px 25px 5px;
    border: 0px solid #707070;
    border-radius: 5px;
    box-shadow: 0px 0px 1px #707070;
    text-align: center;
    transition: all ease-in-out .5s;
}

.project__header {
    text-align: center;
    line-height: 4.5rem;
    font-size: 1.25rem;
    transition: all ease-in-out .5s;
}

.project__description--container p {
    margin: 25px 0;
    font-size: 1.25rem;
}

.project h3 {
    padding: 15px;
    background-color: #0873b6;
    color: white;
    font-size: 1.45rem;
    font-weight: 100;
}

.project img {
    max-width: 100%;
}

.project__skill--container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.project__btn--container {
    display: flex;
    justify-content: space-around;
    padding: 35px 0;
    font-size: 1.5rem;
    transition: all ease-in-out .5s;
}

@media screen and (min-width: 600px) {
    .project {
        max-width: 350px;
    }

    .project__btn--container button {
        padding: 10px 20px;
    }
}

@media screen and (min-width: 1400px) {
    .project {
        max-width: 450px;
    }

    .project__header {
        line-height: 5.5rem;
        font-size: 1.5rem;
    }

    .project__btn--container button {
        padding: 15px 25px;
    }
}

/* bio Section */
.bio {
    margin: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.bio__container {
    display: flex;
    flex-direction: column-reverse;
    margin: 0 auto;
    max-width: 90%;
    line-height: 1.5;
    font-size: 1.2rem;
}

.bio h2, h3 {
    text-align: center;
    line-height: 4.5rem;
    font-size: 2.0rem;
    transition: all ease-in-out .5s;
}

.bio__content {
    max-width: 90%;
}

.bio__photo {
    text-align: center;
}

.bio__photo img {
    height: auto;
    margin-bottom: 25px;
    max-width: 100%;
    border-radius: 20px;
}

@media screen and (min-width: 600px) {
    .bio__container {
        flex-direction: column;
    }

    .bio__bio {
        margin: 0 auto;
        max-width: 80%;
    }

    .bio__photo {
        text-align: center;
    }

    .bio__photo img {
        max-width: 80%;
    }
}

@media screen and (min-width: 800px) {
    .bio__photo img {
        max-width: 70%;
    }
}

@media screen and (min-width: 1400px) {
    .bio__content {
        max-width: 900px;
    }
}

/* Contact Section */
.contact {
    margin: 25px;
    text-align: center;
    line-height: 1.5;
    font-size: 1.5rem;
}

/* Footer Section */
.footer {
    padding: 25px;
    background-color: #1DA1F2;
    color: white;
    font-size: 1rem;
    text-align: center;
}

.social-icon {
    padding: 10px;
    color: white;
    font-size: 2rem;
}