/* Navigation */
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    box-shadow: 0px 0px 1px;
}

.nav__list {
    display: none;
    text-align: right;
    margin-right: 36px;
    padding-top: 30px;
    list-style-type: none;
}

.nav__list--item {
    display: inline;
    padding: 22px 7.5px;
}

.nav__list--item:hover {
    transition: 200ms ease-in-out;
    background-color: aliceblue;
}

/* Mobile navigation dropdown */
.dropdown {
    display: block;
    position: absolute;
    top: 54px;
    right: -34px;
    padding: 0px 50px;
    box-shadow: 0px 1px 4px;
    text-align: center;
    background: white;
}

.dropdown .nav__list--item {
    display: block;
}

/* Hamburger icon for mobile - animated */
.hamburger__container {
    display: inline-block;
    cursor: pointer;
}

.hamburger--top, .hamburger--middle, .hamburger--bottom {
    width: 30px;
    height: 3px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
}

/* The .change class is added on-click. It toggles the lines between three horizontal lines and an X */
.change .hamburger--top {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
}

.change .hamburger--middle {
    opacity: 0;
}

.change .hamburger--bottom {
    -webkit-transform: rotate(45deg) translate(-6px, -5px);
    transform: rotate(45deg) translate(-6px, -5px);
}

/* Styles for screens larger than 600px */
@media screen and (min-width: 600px) {
    /* Remove mobile navigation styling */
    .hamburger__container {
        display: none;
    }

    .nav__list {
        display: initial;
    }
}